@model PetBio
<h1 id="header">Matches</h1>

<div class="center">
	<div class="match" id="match">
		@if (@Model.Image != null || @Model.Image != "")
		{
			<img src="@Model.Image" width="450" />
		}
		else
		{
			<img src="~/assets/placeholder.jpg" width="450" />
		}
		<h2>@Model.PetName</h2>
		<p><b>Age: </b> @Model.PetAge</p>
		<p><b>Likes: </b> @Model.Likes</p>
		<p><b>Dislikes: </b> @Model.Dislikes</p>
		<p><b>Bio: </b> @Model.Biography</p>
		<a asp-action="Chat" asp-controller="Home" class="btn">Chat</a>
		<a asp-action="NewMatch" asp-controller="Home" class="btn">Dislike</a>
	</div>
</div>
