
@model PetBio

<h1 id="header" class="headerLightMode">@Model.PetName</h1>

<div class="profile" id="profile">
	<div>
		<img src="@Model.Image" width="500" />
	</div>
	<div>
		<p><b>Age: </b> @Model.PetAge</p>
		<p><b>Likes: </b> @Model.Likes</p>
		<p><b>Dislikes: </b> @Model.Dislikes</p>
		<p><b>Bio: </b> @Model.Biography</p>
	</div>
</div>